body {
  background-color: #0a0a0b;
  margin: 0;
  padding: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h40v40H0z' fill='none'/%3E%3Cpath d='M40 40H0V0' fill='none' stroke='%2327272A' stroke-width='1' opacity='0.4'/%3E%3C/svg%3E");
  background-size: 40px 40px;
}
h1,
h2,
h3,
h4, label, span, div, input, textarea {
  font-family: poppins;
  color: #fafafa;
}
p {
  font-family: inter;
  color: #fafafa;
}
.input {
  font-family: poppins;
  font-size: 1rem;
  padding: 6px 8px;
  height: 40px;
  color: #fafafa;
  width: 100%;
  box-sizing: border-box;
  background-color: #0a0a0b;
  border: 1px solid #27272a;
  border-radius: 6px;
  resize: none;
  transition: all 0.2s ease;
  outline: none;
}
.input:focus {
  box-shadow: 0 0 20px -5px #863BFF;
  border: 1px solid #863BFF;
}
button {
  background-color: #863BFF;
    border-radius: 5px;
    border: none;
    color: #FAFAFA;
    font-family: poppins;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 12px;
    width: 100%;
    margin-top: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}
button:hover {
  transform: scale(1.005);
  box-shadow: 0 0 20px -7px #863BFF;
}
button:active {
  transform: scale(0.98);
}
.logo-image-fit {
  object-fit: cover;
  object-position: center;
  display: block;
  flex-shrink: 0;
}
.main {
  display:flex;
  min-height: 100vh;
}
.main-content {
  flex: 1;
  padding: 15px 25px;
  overflow-y: auto;
}